@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan styling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Navbar */
header nav a {
  transition: color 0.3s ease-in-out;
}

header nav a:hover {
  color: #d1fae5; /* hijau muda */
}

/* Hero Section */
section.bg-green-700 {
  background: linear-gradient(to right, #047857, #065f46);
}
